.home {
  svg#cat {
    height: auto;
    left: 50%;
    max-height: 90vh;
    max-width: 90vw;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @media(min-width: 600px) {
      max-height: 70vh;
      max-width: 70vw;
    }
    path#cat_svg__light_one,
    g#cat_svg__shading_one, 
    g#cat_svg__body_one {
      animation: catAnimation 600ms step-start infinite;
      animation-play-state: running;
    }
    path#cat_svg__light_two,
    g#cat_svg__shading_two, 
    g#cat_svg__body_two {
      animation: catAnimationTwo 600ms step-start infinite;
      animation-play-state: running;
      opacity: 0;
    }
    path#cat_svg__light_two {
      // animation: catAnimationTwo 600ms step-start infinite, lightAnimationTwo 15s step-start infinite;
    }
    path#cat_svg__light_three,
    g#cat_svg__shading_three, 
    g#cat_svg__body_three {
      animation: catAnimationThree 600ms step-start infinite;
      animation-play-state: running;
      opacity: 0;
    }
  }
  svg#symbols {
    height: 100vh;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    z-index: -1;
  }
}

@keyframes catAnimation {
  0%, 83.33%, 100% {
    opacity: 1;
  }
  16.66%, 66.66% {
    opacity: 0;
  }
}

@keyframes catAnimationTwo {
  0%, 33.33%, 50%, 83.33%, 100% {
    opacity: 0;
  }
  16.66%, 66.66% {
    opacity: 1;
  }
}

@keyframes lightAnimationTwo {
  0%, 25% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@keyframes catAnimationThree {
  0%, 16.66%, 66.66%, 100% {
    opacity: 0;
  }
  33.33%, 50% {
    opacity: 1;
  }
}